:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4cb256;
  --video: #4a4eb7;
  --location: #ef5757;
  --shedule: #e1ae4a;
}

.App{
  overflow-y: auto;
  color : var(--black);
  background: #f3f3f3;
  padding : 2rem 2rem;
  /* max-height: 100vh; */
  /* width: 100vw; */
  min-height: 100vh;
  
  
 
  
 
}
.blur {
  position: absolute;
  width: 22rem;
  height : 14rem;
  background-color: #a6ddf0;
  border-radius: 50%;
  filter: blur(72px);
}
.btn {
  display : flex;
  align-items: center;
  justify-content: center;
  color : white;
  border : none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition: all 1s ease-out;
  cursor: pointer;
}
.btn:hover {
  /* opacity: 0.8; */
  color :var(--orange);
  background: white;
  border : 2px solid var(--orange);
}
.btn:disabled {
  background: silver;
  pointer-events: none;
}
::-webkit-scrollbar {
  display: none;
}
/* .infoForm{
  background-color: var(--cardColor);
  padding-right: 5rem;
  padding-left: 2.5rem;
  padding-bottom: 2.5rem;
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;

  width: 100%;
  border-radius: 1rem;
} */
.mantine-Paper-root{
  width: 55%;
  padding-right: 5rem;
  padding-left: 2.5rem;
  padding-bottom: 2.5rem;
  padding-top: 1.5rem;
  

}
@media screen and (max-width : 960px){
  .mantine-Paper-root{
    width: 70%;
  }

}
@media screen and (max-width : 700px){
  .mantine-Paper-root{
    width: 80%;
  }
  /* .App{
    padding :0
  } */

}
@media screen and (max-width : 356px){
  .mantine-Paper-root{
    width: 90%;
  }
  .App{
    padding : 0.4rem
  }

}
.mantine-l553vn {
  word-break: normal;
}
